<div class="center jumbotron">
     <h1>Welcome to BugTracker</h1>
     <h2>
         Your life will not be the same if you don't read my blog daily.  Come and see
  for yourself! Some people live their lives to the fullest, while others live theirs
 to the foolest...
     </h2>
     <%= link_to "Subscribe now!","", class: "btn btn-lg btn-success" %>
 </div>

 <div class="row">
     <div class="col-lg-4">
         <h3 class="midrow">
             Great Aricle #1
         </h3>
         <h2 class="left">
             Eos id omnes omittam, an delenit ceteros liberavisse sit. Ne mea adipisci
 ng moderatius vituperata, quo ad tota admodum.
         </h2>
         <p><%= link_to "Read the article", "", class: "btn btn-warning btn-small" %></p>
</div>
         <div class="col-lg-4">
         <h3 class="midrow">
             Magnum Opus
         </h3>
         <h2 class="left">
             Fierent appareat at quo. Sed rebum homero et, aeterno assentior temporibu
 s no pro.
         </h2>
         <p><%= link_to "Read the article", "", class: "btn btn-warning btn-small" %></p>
</div>
         <div class="col-lg-4">
         <h3 class="midrow">
             I'm a genious
         </h3>
         <h2 class="left">
             Sea tation scribentur intellegebat no, novum atomorum oportere eam ne. Me
 l an iisque aeterno oblique, eu per luptatum conclusionemque.
         </h2>
         <p><%= link_to "Read the article", "", class: "btn btn-warning btn-small" %></p>
</div>
</div>